body{
	margin:0;
	padding:0;
	font-weight: 300;
}
body h1{
	font-weight: 300;
}
body h2{
	font-weight: 200;
}
body h3{
	font-weight:200 ;
}
.container-fluid{
	padding: 0;
}

img{
	max-width: 100%;
	height: auto;
}
.navbar{
	margin-bottom: 0;
	border-radius:0;
	background-color: white;
	border: 0;

}
.navbar.navbar-default{
	margin:0;
	background-color: white;
	color: #FFCFCA;
}
.mainHeader{
	background-image:url("../img/cafe1-yasi.jpg");
    background-color:rgba(0,0,0,0.6);
	background-size:cover;
	background-position: center center;
	height: 90vh;
	color: #FFCFCA;
}
.jumbotron.mainHeader{
	color: rgb(102, 51, 0);
}
.space{
	height: 48vh;
}

.navbar-default>li>a{
	color:#FFCFCA;
	padding:0;
}
.navbar-brand{
	float:left;
	min-height: 55px;
	padding: 0;
}
a.navbar-brand{
	padding: 0;
}

.navbar .navbar-header .navbar-toggle .icon-bar{

	background-color: #FFCFCA;
}



.aboutMe .headshot{
	padding: 2%;

}

.jumbotron {
    background-color:transparent !important;
}
.aboutMe img{
	border:2px solid lightgray;
}

.skills{
	margin-bottom: 10%;
}

.firstLogos img, .secondLogos img{
	
	max-width: 200px;
	margin:1% auto;
	border:2px solid gray;
	border-radius:100px;

}
.headFontWeight{
	font-weight: 100;	 
}
div.underline {
    width: 10%;
    height: 2px;
    background: #FFCFCA;
    margin: 5px auto 25px;
}
.works{
	margin:0 10% 10% 10%;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(254, 170, 154, 0.6);
    width:100%;
    height:100%;
    padding:20%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}
    .work div{
		
    	height: 320px;
    }
    .work{
    	margin-top: 5%;
    }
    .work>.col-xs-6 .col-sm-4 .col-md-6 .workItem{
    	padding: 0;
    	border:2px solid red;
    }
    .tech{
    	border:2px solid white;
    }
input{
	width: 100%;
}
textarea{
	width: 100%;
}
form label{
	font-weight: 300;
	margin-top:2%;
}
input[type=submit]{
	background-color:#F7E3DB;
	width:40%; 
	height: 50px;
	margin-bottom: 10px;
}
.footer{
	background-color: #F7E3DB;
}
.footerContact{
	margin-bottom: 2%
}
i{
	margin:10px;
}
form{
	margin-bottom: 5%;
}
.contactForm{
	margin-top: 7%;
}
/*@media (min-width: 728) {
	.skills{
		height: 100vh;
		background-image: url('../img/skills1.jpg');
	background-size:cover;
	background-position: center;
	color:#FFCFCA;
	position: relative;
	margin:0;

	}
	.skillsOverlay{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left:0;
	background-color:rgba(10,0,10,0.5);
	margin-right:0;
}
}*/
@media (min-width: 768px) and (max-width: 900px) {
.skills{
		height: 100vh;
		background-image: url('../img/skills1.jpg');
		background-size:cover;
		background-position: center;
		color:#FFCFCA;
		position: relative;
		margin:0;
	}
	.skillsOverlay{
		position: absolute;
		top:0;
		bottom: 0;
		right: 0;
		left:0;
	background-color:rgba(10,0,10,0.5);
	margin-right:0;
}
}
